body {
    background-color: bisque;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 400px;
    list-style-type: none;
    color: #222;


}

.card-item {
    background: #f7f7f7;
    color: #222;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease 0s;
    list-style-type: none;
}

.title {
    font-size: 50px;
    color: #222;
   
}
.hobi {
    list-style-type: none;
    color: black;
}